<ion-view title="Buscar" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="buscar-form2" class="list">
      <label class="item item-input Pesquisa" id="buscar-search2" name="Buscar">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Pesquisar">
      </label>
    </form>
    <ion-list id="buscar-list1">
      <ion-item class="dark" id="buscar-list-item16">Pato no Tucupi</ion-item>
      <ion-item class="dark" id="buscar-list-item17">Caldeirada</ion-item>
      <ion-item class="dark" id="buscar-list-item18">Pirarucu à Casaca</ion-item>
    </ion-list>
    <ion-list id="buscar-list2">
      <ion-item class="dark" id="buscar-list-item19">Mujica de Peixe</ion-item>
      <ion-item class="dark" id="buscar-list-item20">Tacacá</ion-item>
    </ion-list>
  </ion-content>
</ion-view>