<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="home-form1" class="list">
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="home-list-item3">
        <img src="img/FTZqTC7tQGSBr8C8d16X_pato_no_tucupi.jpg">
        <h2assertive>Pato no Tucupi
          <p style="white-space:normal;">O pato no tucupi é um prato popular da região norte composto por pato, jambu e tucupi (líquido extraído da mandioca brava). Outros temperos também são acrescentados. Como acompanhamento, o prato pode ser servido com farinha de mandioca e arroz.</p>
          <i
            class="icon ion-ios-cart-outline"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right energized" id="home-list-item12">
        <img src="img/nCkgWhfT1m5Qr3u2LlAz_caldeirada.jpg">
        <h2energized>Caldeirada
          <p style="white-space:normal;">A caldeirada é um prato típico da região, feita com peixe em postas (dourado, filhote, pescada amarela, tucunaré etc.), temperos, ovos, azeite e tucupi.</p>
          <i class="icon ion-ios-cart-outline"></i>
        </h2energized>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right royal" id="home-list-item11">
        <img src="img/Z0CIwNDvSiqQGyry0UPR_PirarucuCasaca.jpg">
        <h2royal>Pirarucu à Casaca
          <p style="white-space:normal;">O pirarucu à casaca é um prato popular feito com peixe, temperos, manteiga e colorau. O estado do Acre é um dos principais comercializantes desse peixe.</p>
          <i class="icon ion-ios-cart-outline"></i>
        </h2royal>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right calm" id="home-list-item10">
        <img src="img/6jarU5GdQnQakH2EJHNA_Mujica_de_Peixe.jpg">
        <h2calm>Mujica de Peixe
          <p style="white-space:normal;">Prato tradicional da região norte, que pode ser feito com tambaqui desfiado, farinha, pimenta-do-reino, cheiro-verde, pimenta-de-cheiro, colorau, tomate, alho e cebola.</p>
          <i class="icon ion-ios-cart-outline"></i>
        </h2calm>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="home-list-item9">
        <img src="img/hB8KPW2VT9i9ia1JsO9t_Tacac.jpg">
        <h2balanced>Tacacá
          <p style="white-space:normal;">Receita de origem indígena semelhante a uma sopa feita com goma de tapioca, caldo de tucupi, sal, jambu, alho, camarão e pimenta. Geralmente, é servido quente em uma cuia.</p>
          <i class="icon ion-ios-cart-outline"></i>
        </h2balanced>
      </ion-item>
    </form>
  </ion-content>
</ion-view>