<ion-view title="Perfil" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="perfil-list3">
      <ion-item class="item-avatar item-icon-right dark" id="perfil-list-item29">
        <img src="img/8UsfCDJQru0grSiwZcxw_WhatsAppImage2019-06-24at20.07.58.jpeg">
        <h2dark>Raylson Barros
          <i class="icon ion-ios-person"></i>
        </h2dark>
      </ion-item>
      <ion-item class="item-icon-right" id="perfil-list-item30">Email: raylsondesouza@gmail.com
        <i class="icon ion-ios-email"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="perfil-list-item31">Tel: 68 9 9999 9999
        <i class="icon ion-ios-telephone"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="perfil-list-item32">End: Rua xxxxxxx xx xxxxxxx xxx
        <i class="icon ion-android-home"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>